<%= form_for([@object, @metafield]) do |f| %>
  <div class="small-12 columns">
    <%= f.submit 'Save', class: 'success button' %>
    <%= link_to 'Back', url_for([@object, :metafields]), class: 'secondary hollow button' %>
  </div>

  <% if @metafield.errors.any? %>
    <div class="small-12 columns">
      <div class="callout warning">
        <h5><%= pluralize(@metafield.errors.count, 'error') %> prohibited this content from being saved:</h5>

        <ul>
          <% @metafield.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if notice %>
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  <% end %>

  <div class="small-12 columns">
    <%= f.label :key %>
    <%= f.text_field :key, required: true %>
  </div>

  <div class="small-12 columns">
    <%= f.label :value %>
    <%= f.text_area :value, { class: 'tinymce' } %>
  </div>

  <div class="hide">
    <%= f.text_field :fieldable_id, value: @object.id %>
    <%= f.text_field :fieldable_type, value: @object.class %>
  </div>

  <%= current_site_form_field f %>
<% end %>
