<%= yield :sidebar_before %>

<% if logged_in? %>
  <ul class="sidebar-nav">
    <li class="<%= 'active' if menu_active? :types %>">
      <%= link_to 'Content Types', types_path %>
    </li>

    <li class="<%= 'active' if menu_active? :categories %>">
      <%= link_to 'Categories', categories_path %>
    </li>

    <li class="<%= 'active' if menu_active? :navigation, false %>">
      <%= link_to 'Navigation', navigations_path %>
    </li>

    <li class="<%= 'active' if menu_active? :media %>">
      <%= link_to 'Media', media_path %>
    </li>

    <li class="<%= 'active' if menu_active? :users %>">
      <%= link_to 'Users', users_path %>
    </li>

    <li class="<%= 'active' if menu_active? :groups %>">
      <%= link_to 'User Groups', groups_path %>
    </li>

    <li>&nbsp;</li>

    <% Guts::Type.all.each do |type| %>
      <li class="<%= 'active' if menu_active?(:contents) and @type == type %>">
        <%= link_to type.title.pluralize(2), contents_path(type: type.slug) %>
      </li>
    <% end %>

    <li>&nbsp;</li>

    <%= yield :menu_links %>

    <li class="<%= 'active' if menu_active? :options %>">
      <%= link_to 'Options', options_path %>
    </li>

    <li class="<%= 'active' if menu_active? :sites %>">
      <%= link_to 'Sites', sites_path %>
    </li>

    <li>&nbsp;</li>

    <li id="current-user">
      <a href="<%= destroy_session_path %>"><%= gravatar_for current_user %> <%= current_user.name %> <small>Logout</small></a>
    </li>
  </ul>
<% end %>

<%= yield :sidebar_after %>
