<li class="item" data-id="<%= navigation_item_row.id %>">
  <i class="handle fa fa-reorder"></i>
  <%= navigation_item_row.title %>&nbsp;&nbsp;&mdash;&gt;&nbsp;&nbsp;<%= navigation_item_row.custom? ? 'Custom' : navigation_item_row.navigatable.navigatable_format %> <%= "to: #{navigation_item_row.custom}" if navigation_item_row.custom? %>
  <div class="action_links">
    <%= link_to('Edit', edit_navigation_navigation_item_path(navigation_row, navigation_item_row)) if policy([:guts, :navigation_item]).update? %>
    <%= link_to_destroy('Destroy', navigation_navigation_item_path(navigation_row, navigation_item_row)) if policy([:guts, :navigation_item]).destroy? %>
  </div>
</li>