<div class="row">
  <div class="small-12 columns">
    <h1>Navigations</h1>
    <%= link_to 'New', new_navigation_path, class: 'button' %>
  </div>
</div>

<% if notice %>
  <div class="row">
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <% if @navigations.size > 0 %>
    <% @navigations.each do |navigation| %>
      <div class="small-12 medium-6 columns nav_block">
        <div class="callout secondary">
          <h5><%= navigation.title %></h5>
          <div class="tiny button-group">
            <%= link_to 'New', new_navigation_navigation_item_path(navigation), { class: 'button' } %>
            <%= link_to 'Edit', edit_navigation_path(navigation), { class: 'warning button' } %>
            <%= link_to_destroy 'Destroy', navigation, { class: 'alert button' } %>
          </div>
          <ul class="sortable" data-url="<%= reorder_navigation_path navigation %>">
            <% if navigation.navigation_items.size > 0 %>
              <% navigation.navigation_items.each do |item| %>
                <li class="item" data-id="<%= item.id %>">
                  <i class="handle fa fa-reorder"></i>
                  <%= item.title %>&nbsp;&nbsp;&mdash;&gt;&nbsp;&nbsp;<%= item.custom? ? 'Custom' : item.navigatable.navigatable_format %> <%= "to: #{item.custom}" if item.custom? %>
                  <div class="action_links">
                    <%= link_to 'Edit', edit_navigation_navigation_item_path(navigation, item) %>
                    <%= link_to_destroy 'Destroy', navigation_navigation_item_path(navigation, item) %>
                  </div>
                </li>
              <% end %>
            <% else %>
              <p>No navigational items added to this menu.</p>
            <% end %>
          </ul>
          <div></div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="small-12 columns">
      <p>No navigational menus have been added.</p>
    </div>
  <% end %>
</div>
