<%= form_for(@user) do |f| %>
  <div class="small-12 columns">
    <%= f.submit('Save', class: 'success button') if policy([:guts, :user]).create? || policy([:guts, :user]).update? %>
    <%= link_to 'Back', users_path, class: 'secondary hollow button' %>
    <% unless @user.new_record? %>
      <%= link_to("Metafields (#{@user.metafields.size})", user_metafields_path(@user), class: 'hollow button') if policy([:guts, :metafield]).index? %>
      <%= link_to("Media (#{@user.media.size})", user_media_path(@user), class: 'hollow button alert') if policy([:guts, :medium]).index? %>
      <%= link_to("Permissions (#{@user.permissions.size})", user_permissions_path(@user), class: 'hollow button secondary') if policy([:guts, :permission]).index? %>
    <% end %>
  </div>

  <% if @user.errors.any? %>
    <div class="small-12 columns">
      <div class="callout warning">
        <h5><%= pluralize(@user.errors.count, 'error') %> prohibited this content from being saved:</h5>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if notice %>
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  <% end %>

  <div class="small-12 columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="small-12 columns">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>
  <div class="small-12 medium-6 columns">
    <%= f.label :password %>
    <%= f.password_field :password, required: (@user.new_record? ? true : false) %>
  </div>
  <div class="small-12 medium-6 columns">
    <%= f.label :password_confirmation, 'Confirmation' %>
    <%= f.password_field :password_confirmation, required: (@user.new_record? ? true : false) %>
  </div>
  <div class="small-12 columns">
    <%= f.label :groups %>
    <%= f.collection_select :group_ids, policy_scope(Guts::Group).all, :id, :title, {}, { multiple: true } %>
  </div>
<% end %>
