<div class="row">
  <div class="small-12 columns">
    <h1>Users<%= " for #{@group.title}" if @group %></h1>
    <%= link_to "New", new_user_path, class: "button" %>
  </div>
</div>

<% if notice %>
  <div class="row">
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <% if @users.size > 0 %>
      <table id="users_table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td width="10%"><%= gravatar_for user %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.groups.map(&:title).join(", ") %></td>
              <td align="right" class="action_links">
                <%= link_to "Edit", edit_user_path(user) %>
                <%= link_to_destroy "Destroy", user %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <% if @group %>
    <p>There are no users for this group (<%= @group.title %>).</p>
      <% else %>
        <p>There are no users added.</p>
      <% end %>
    <% end %>
  </div>
</div>