<div class="row">
  <div class="small-12 columns">
    <h1>Users<%= " for #{@group.title}" if @group %></h1>
    <%= link_to('New', new_user_path, class: 'button') if policy([:guts, :user]).create? %>
  </div>
</div>

<% if notice %>
  <div class="row">
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <% if @users.size > 0 %>
      <table id="users_table">
        <tbody>
          <%= render partial: 'user_row', collection: @users %>
        </tbody>
      </table>
    <% else %>
      <% if @group %>
        <p>There are no users for this group (<%= @group.title %>).</p>
      <% else %>
        <p>There are no users added.</p>
      <% end %>
    <% end %>
  </div>
</div>
