<div class="row">
  <div class="small-12 columns">
    <h1>User</h1>
    <%= link_to 'Back', users_path, class: 'secondary button' %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <table>
      <tr>
        <td><strong>Name</strong></td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td><strong>Groups</strong></td>
        <td><%= @user.groups.collect(&:title).join(', ') %></td>
      </tr>
      <tr>
        <td><strong>Permissions</strong></td>
        <td>
          <% @user.permissions.each do |permission| %>
            <strong><%= permission.resource.humanize.titlize %></strong>: <%= permission.grant.humanize.titlize %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><strong>Created</strong></td>
        <td><%= @user.created_at %></td>
      </tr>
      <tr>
        <td><strong>Updated</strong></td>
        <td><%= @user.updated_at %></td>
      </tr>
    </table>
  </div>
</div>
