<%= form_for([@object, @medium]) do |f| %>
  <div class="small-12 columns">
    <%= f.submit('Save', class: 'success button') if policy([:guts, :medium]).create? || policy([:guts, :medium]).update? %>
    <% unless @medium.new_record? %>
      <%= link_to 'View', @medium.file.url(:original), class: 'warning hollow button', target: '_blank' %>
    <% end %>
    <%= link_to 'Back', polymorphic_url([@object, :media]), class: 'secondary hollow button' %>
  </div>

  <%= render partial: 'form_fields', locals: { f: f } %>
<% end %>
