<div class="row">
  <div class="small-12 columns">
    <h1>Media<% if @object.try(:title) and !params.has_key? :insert %> <span class="sub_title">for <%= sub_title_for @object %>: <%= @object.try(:title) || 'N/A' %></span><% end %></h1>
    <% if @object %>
      <%= link_to('New', new_polymorphic_path([@object, :medium]), class: 'button') if can? :create, Guts::Medium %>
      <%= link_to 'Back', url_for([:edit, @object]), class: 'secondary hollow button' %>
    <% else %>
      <%= link_to('New', new_medium_path, class: 'button') if can? :create, Guts::Medium %>
    <% end %>
  </div>
</div>

<% if notice %>
  <div class="row">
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <% if @media.size > 0 %>
      <table id="media_table">
        <tbody>
          <% @media.each do |media| %>
            <tr>
              <td width="15%">
                <% if media.file_content_type.include? 'image' %>
                  <%= image_tag media.file.url(:small) %>
                <% else %>
                  <i class="fa fa-3x fa-file-o"></i>
                <% end %>
              </td>
              <td>
                <%= media.title %>
                <% if media.filable %>
                  <br>
                  <small>
                    Belongs to: <a href="<%= url_for([:edit, media.filable]) %>"><%= media.filable.try(:title) || media.filable_type.demodulize.humanize %></a>
                  </small>
                <% end %>
              </td>
              <td class="action_links">
                <a href="<%= editor_insert_medium_path(media) %>" class="media_insert" data-type="<%= media.file_content_type %>" data-url="<%= media.file.url(:original) %>" data-title="<%= media.title %>">Insert</a>
                <%= link_to 'View', media.file.url(:original), { target: '_blank' } %>
                <%= link_to 'Info', medium_path(media) %>
                <%= link_to('Edit', edit_polymorphic_path([@object, media])) if can? :update, Guts::Medium %>
                <%= link_to_destroy('Destroy', polymorphic_path([@object, media])) if can? :delete, Guts::Medium %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No media files have been added.</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= will_paginate @media %>
  </div>
</div>

<div class="reveal" id="media_insert_modal" data-reveal></div>
