<div class="row">
  <%= form_for(:session, url: create_session_path) do |f| %>
    <div class="small-12 columns">
      <h1>Session</h1>
      <%= f.submit 'Login', { class: 'button' } %>
      <%= link_to 'Forgot Password?', forgot_session_path, { class: 'hollow button secondary' } %>
    </div>
  
    <% if flash[:notice] %>
      <div class="small-12 columns">
        <div class="callout alert">
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>
  
    <div class="small-12 medium-6 columns">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="small-12 medium-6 columns">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  <% end %>
</div>