<div class="row">
  <div class="small-12 columns">
    <h1>Content Types</h1>
    <%= link_to 'New', new_type_path, class: 'button' %>
  </div>
</div>

<% if notice %>
  <div class="row">
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <% if @types.size > 0 %>
      <table>
        <tbody>
          <% @types.each do |type| %>
            <tr>
              <td><%= type.title %></td>
              <td><%= pluralize type.contents.size, 'record', 'records' %></td>
              <td align="right" class="action_links">
                <%= link_to 'Edit', edit_type_path(type) %>
                <%= link_to_destroy 'Destroy', type %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No content types have been added.</p>
    <% end %>
  </div>
</div>