<div class="row">
  <div class="small-12 columns">
    <h1>Options</h1>
    <%= link_to('New', new_option_path, class: 'button') if policy([:guts, :option]).create? %>
  </div>
</div>

<% if notice %>
  <div class="row">
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <% if @options.size > 0 %>
      <table>
        <tbody>
          <% @options.each do |opt| %>
            <tr>
              <td><%= opt.key %></td>
              <td align="right" class="action_links">
                <%= link_to('Edit', edit_option_path(opt)) if policy([:guts, :option]).update? %>
                <%= link_to_destroy('Destroy', opt) if policy([:guts, :option]).destroy? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No options have been added.</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= will_paginate @options %>
  </div>
</div>
