<div class="row">
  <div class="small-12 columns">
    <h1>Categories</h1>
    <%= link_to('New', new_category_path, class: 'button') if can? :create, Guts::Category %>
  </div>
</div>

<% if notice %>
  <div class="row">
    <div class="small-12 columns">
      <div class="callout success notice">
        <p><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <% if @categories.size > 0 %>
      <table>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.title %></td>
              <td><%= pluralize category.categorizations.size, 'record', 'records' %></td>
              <td align="right" class="action_links">
                <%= link_to('Edit', edit_category_path(category)) if can? :update, Guts::Category %>
                <%= link_to_destroy('Destroy', category) if can? :delete, Guts::Category %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No categories have been added.</p>
    <% end %>
  </div>
</div>
