<div class="row">
  <div class="small-12 columns">
    <h1>Assign Permission with <%= clean_subject_class @authorization.subject_class %><% if @object.try(:title) %> <span class="sub_title">for <%= sub_title_for @object %>: <%= @object.try(:title) %></span><% end %></h1>
  </div>
</div>

<div class="row">
  <%= form_for([:additional, @object, @permission], { url: { authorization_id: @authorization.id } }) do |f| %>
    <% if @permission.errors.any? %>
      <div class="small-12 columns">
        <div class="callout warning">
          <h5><%= pluralize(@permission.errors.count, 'error') %> prohibited this content from being saved:</h5>

          <ul>
            <% @permission.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="small-12 columns">
      <%= f.submit 'Save', class: 'success button' %>
      <%= link_to 'Back', url_for([@object, :permissions]), class: 'secondary hollow button' %>
    </div>

    <div class="small-12 columns">
      <%= label_tag :subject_id, "Will be able to #{@authorization.action}..." %>
      <%= select_tag :subject_id, options_from_collection_for_select(@objects, :id, :title), required: true %>
    </div>

    <div class="hide">
      <%= f.text_field :permissionable_id, value: @object.id %>
      <%= f.text_field :permissionable_type, value: @object.class %>
    </div>
  <% end %>
</div>
