<div class="row">
  <div class="small-12 columns">
    <h1>Assign Permission<% if @object.title %> <span class="sub_title">for <%= sub_title_for @object %>: <%= @object.title %></span><% end %></h1>
  </div>
</div>

<div class="row">
  <%= form_for([@object, @permission]) do |f| %>
    <div class="small-12 columns">
      <%= f.submit 'Save', class: 'success button' %>
      <%= link_to 'Back', url_for([@object, :permissions]), class: 'secondary hollow button' %>
    </div>

    <% if @permission.errors.any? %>
      <div class="small-12 columns">
        <div class="callout warning">
          <h5><%= pluralize(@permission.errors.count, 'error') %> prohibited this content from being saved:</h5>

          <ul>
            <% @permission.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <% if @grouped_auths %>
      <div id="auth-list">
        <% @grouped_auths.each do |title, auths| %>
          <fieldset>
            <legend><%= clean_subject_class title %></legend>

            <% current_auth_ids = current_user.permissions.map(&:authorization_id) %>
            <% auths.each do |auth| %>
              <% has_auth = current_auth_ids.include?(auth.id) %>
              <%= label_tag(nil, nil, class: has_auth ? 'disabled' : '') do %>
                <%= check_box_tag 'authorization_ids[]', auth.id, nil, { disabled: has_auth } %>
                <%= auth.action.titleize %>
                <%= link_to('(More)', polymorphic_path([:additional, @object, :permissions], authorization_id: auth.id)) unless title == 'all' %>
              <% end %>
            <% end %>
          </fieldset>
        <% end %>
      </div>
    <% end %>

    <div class="hide">
      <%= f.text_field :permissionable_id, value: @object.id %>
      <%= f.text_field :permissionable_type, value: @object.class %>
    </div>
  <% end %>
</div>
