<div class="row">
  <div class="small-12 columns">
    <h1>Assign Permission<% if @object.try(:title) || @object.try(:name) %> <span class="sub_title">for <%= sub_title_for @object %>: <%= @object.try(:title) || @object.try(:name) %></span><% end %></h1>
  </div>
</div>

<div class="row">
  <%= form_for([@object, @permission]) do |f| %>
    <div class="small-12 columns">
      <%= f.submit 'Save', class: 'success button' %>
      <%= link_to 'Back', url_for([@object, :permissions]), class: 'secondary hollow button' %>
    </div>

    <% if @permission.errors.any? %>
      <div class="small-12 columns">
        <div class="callout warning">
          <h5><%= pluralize(@permission.errors.count, 'error') %> prohibited this content from being saved:</h5>

          <ul>
            <% @permission.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="small-12 columns">
      <%= f.label :authorizations %>
      <%= select_tag :authorization_ids, options_from_collection_for_select(Guts::Authorization.all, :id, :class_with_action_cleaner), multiple: true, required: true %>
    </div>

    <div class="hide">
      <%= f.text_field :permissionable_id, value: @object.id %>
      <%= f.text_field :permissionable_type, value: @object.class %>
    </div>
  <% end %>
</div>
