<div class="row">
  <div class="small-12 columns">
    <h1>Assign Permission<% if @object.title %> <span class="sub_title">for <%= sub_title_for @object %>: <%= @object.title %></span><% end %></h1>
  </div>
</div>

<div class="row">
  <%= form_for([@object, @permission]) do |f| %>
    <div class="small-12 columns">
      <%= f.submit 'Save', class: 'success button' %>
      <%= link_to 'Back', url_for([@object, :permissions]), class: 'secondary hollow button' %>
    </div>

    <% if @permission.errors.any? %>
      <div class="small-12 columns">
        <div class="callout warning">
          <h5><%= pluralize(@permission.errors.count, 'error') %> prohibited this content from being saved:</h5>

          <ul>
            <% @permission.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <% if @policies.size > 0 %>
      <div id="auth-list">
        <% @policies.each do |resource, grants| %>
          <fieldset>
            <legend><%= resource.demodulize.titleize %></legend>

            <% grants.each do |grant| %>
              <% has_grant = @object.permissions.find { |p| p.resource == resource && p.grant == grant } %>
              <%= label_tag(nil, nil, class: has_grant ? 'disabled' : '') do %>
                <%= check_box_tag "grants[#{resource}][]", grant, nil, { disabled: has_grant } %>
                <%= grant.humanize.titleize %>
              <% end %>
            <% end %>
          </fieldset>
        <% end %>
      </div>
    <% end %>

    <%= f.hidden_field :permissionable_id, value: @object.id %>
    <%= f.hidden_field :permissionable_type, value: @object.class %>
  <% end %>
</div>
