<!DOCTYPE html>
<html>
  <head>
    <%= render 'guts/partials/head' %>
  </head>
  <body id="<%= controller_css_id %>">
    <%= yield :body_before %>

    <div id="wrapper">
      <div id="sidebar-wrapper">
        <%= render 'guts/partials/sidebar' %>
      </div>

      <div id="page-content-wrapper">
        <%= render 'guts/partials/body' %>
      </div>
    </div>

    <%= javascript_tag "var TINYMCE_GUTS_MEDIA_PATH = '#{Guts::Engine.routes.url_helpers.media_path}';" %>
    <%= tinymce_assets %>
    <%= javascript_include_tag 'guts/application' %>
    <%= tinymce %>

    <%= yield :body_after %>
  </body>
</html>
